<template>
    <main>
        <div class="signin">
            <div class="signin-image"></div>
            <form class="signin-content" @submit.prevent="connect">
                <div>
                    <h1>Welcome</h1>
                    <p class="signin-subtitle">You have to sign in, captain obvious...</p>

                    <p class="signin-error" v-show="error"><i class="fa fa-exclamation-triangle"></i> {{ error }}</p>

                    <input type="text" v-model="cookie" placeholder="Intranet cookie" />

                    <p class="signin-or">OR</p>
                    <p class="signin-or-comment">(only for 2019 and less students)</p>

                    <input type="email" v-model="username" placeholder="E-mail address" /><br />
                    <input type="password" v-model="password" placeholder="Unix password" /><br />

                    <button type="submit" :disabled="!cookie.length && (!username.length || !password.length)">Sign in</button>
                </div>
            </form>
        </div>
    </main>
</template>

<script>
import AuthenticationApi from '@/assets/api/AuthenticationApi'

export default {
    name: 'Login',
    data () {
        return {
            username: '',
            password: '',
            cookie: '',
            error: ''
        }
    },
    created () {
        this.$emit('disableNavigation')
    },
    methods: {
        connect () {
            document.querySelector('button').classList.add('loading')

            if (this.cookie) {
                AuthenticationApi.CookieLogin(this.cookie)
                    .then(this.redirectCallback)
                    .catch(this.errorCallback)
            } else {
                AuthenticationApi.CredentialsLogin(this.username, this.password)
                    .then(this.redirectCallback)
                    .catch(this.errorCallback)
            }
        },
        redirectCallback () {
            this.$emit('updateNavigation')
            this.$emit('enableNavigation')

            if (this.$route.query.redirect) {
                this.$router.push(this.$route.query.redirect)
            } else {
                this.$router.push({ name: 'home' })
            }
        },
        errorCallback (message) {
            document.querySelector('button').classList.remove('loading')
            this.error = message
        }
    }
}
</script>

<!-- The signin page has its own style -->
<style scoped>
@keyframes spin { 100% { transform: rotate(359deg); } }

main {
    height: 100%;
    background-color: #96b0bf;
    background-image: linear-gradient(to top right, #126d9f, #5eadda);
}

.signin {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    background-color: white;
    box-shadow: 0 0 75px rgba(0, 0, 0, .5);
    color: #000;
}

.signin-image {
    width: 100%;
    height: 100px;
    background: url('/static/images/signin.png') center;
}

.signin-content {
    flex-grow: 1;
    position: relative;
    padding: 50px 25px 25px;
    box-sizing: border-box;
}

.signin-content h1,
.signin-content p {
    margin: 0;
    text-align: center;
}

.signin-content p {
    color: #7e7e7e;
}

.signin-content .signin-subtitle {
    margin-bottom: 20px;
}

.signin-content .signin-or {
    margin: 20px auto 0;
    color: #606060;
}

.signin-content .signin-or-comment {
    margin-bottom: 10px;
    color: #9c9c9c;
    font-size: .7em;
}

.signin-content .signin-or::before,
.signin-content .signin-or::after {
    content: "";
    position: absolute;
    left: 25px;
    width: calc(50% - 50px);
    height: 1px;
    margin-top: 10px;
    background-color: #606060;
}

.signin-content .signin-or::after {
    left: auto;
    right: 25px;
}

.signin-content .signin-error {
    padding: 10px;
    text-align: left;
    border-radius: 3px;
    color: #bc5252;
    background-color: #fcd1d1;
}

.signin-content input,
.signin-content [type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    font-size: .8em;
}

.signin-content input::placeholder {
    text-transform: uppercase;
}

.signin-content [type="submit"] {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #1997dd;
}

.signin-content [type="submit"].loading::after {
    content: '';
    display: inline-block;
    position: relative;
    top: .5px;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border: 2px solid;
    border-color: transparent #fff #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.signin-content [type="submit"]:disabled {
    cursor: not-allowed;
    background-color: #86c7ec;
}

.signin-content [type="submit"]:not(:disabled):hover {
    cursor: pointer;
    background-color: #3ca4de;
}

@media screen and (min-width: 800px) {

    .signin {
        flex-direction: row;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 550px;
        min-height: inherit;
        transform: translateX(-50%) translateY(-50%);
    }

    .signin-image {
        width: 150px;
        height: initial;
    }

}
</style>
