<template>
    <main>
        <loading :messages="messages" />
    </main>
</template>

<script>
import AuthenticationApi from '@/assets/api/AuthenticationApi'

import Loading from '@/components/utilities/Loading'

export default {
    name: 'Logout',
    components: {
        Loading
    },
    data () {
        return {
            messages: {
                text: 'Disconnecting',
                comments: false
            }
        }
    },
    created () {
        this.$emit('disableNavigation')

        AuthenticationApi.Logout()
            .then(() => {
                this.$router.push({ name: 'account.login' })
            })
            .catch((message) => {
                this.messages.comments = {
                    primary: message,
                    secondary: 'We still signed you out.'
                }

                setTimeout(() => {
                    this.$router.push({ name: 'account.login' })
                }, 6000)
            })
    }
}
</script>

<style>
</style>
