<template>
    <main></main>
</template>

<script>
export default {
    name: 'Settings',
    data () {
        return {
        }
    },
    created () {
    },
    methods: {
    }
}
</script>

<style>
</style>
