<template>
    <main>
        <loading :class="{ done: unitsLoaded }" />
        <div class="grid units-containers">
            <div v-for="(category, name) in units" class="column xs-12 md-6 lg-4">
                <div class="units-category">
                    <h3>{{ name }}</h3>
                    <div v-if="category.length" class="units">
                        <div class="unit" v-for="(unit, index) in category">
                            <div class="description">
                                <p :class="{ unavailable: !unit.registration }">
                                    <router-link :to="{ name: 'units.entry', params: { id: unit.id.route } }">{{ unit.title }}</router-link>
                                    <br />
                                    <small>{{ unit.credits }} credit{{ unit.credits !== 1 ? 's' : '' }}</small>
                                </p>

                                <p v-if="new Date(unit.duration.from) <= now && new Date(unit.registration) > now">
                                    <a v-if="name == 'ongoing'" @click="unregister(index, unit)" class="button">Unregister</a>
                                    <a v-else-if="name == 'available'" @click="register(index, unit)" class="button">Register</a>
                                </p>
                                <p v-else-if="name == 'finished'"><i class="fa" :class="[ unit.validated ? 'success fa-check' : 'failure fa-times' ]"></i></p>
                            </div>
                            <div v-if="unit.registration && name !== 'finished'" class="information">
                                <progress-bar>
                                    <div slot="milestones" class="milestones">
                                        <div :class="{ reached: new Date(unit.duration.from) <= now }">
                                            <div class="title">Begins on {{ unit.duration.from }}</div>
                                        </div>

                                        <div :class="{ reached: new Date(unit.registration) <= now }"
                                             :style="{ left: `calc(${placeRegistration(unit)} - 25px)` }">
                                            <div class="title">Registrations close on {{ unit.registration }}</div>
                                        </div>

                                        <div :class="{ reached: new Date(unit.duration.to) <= now }">
                                            <div class="title">Ends on {{ unit.duration.to }}</div>
                                        </div>
                                    </div>
                                    <div slot="completion" :style="{ width: `${placeCompletion(unit)}` }"></div>
                                </progress-bar>
                            </div>
                        </div>
                    </div>
                    <p v-else class="no-content">No units in this category.</p>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import UnitsApi from '@/assets/api/UnitsApi'

import Notifications from '@/assets/classes/Notifications'
import { GetDaysDiff } from '@/assets/utilities/dateTools'

import Loading from '@/components/utilities/Loading'
import ProgressBar from '@/components/utilities/ProgressBar'

export default {
    name: 'Units',
    components: {
        Loading,
        ProgressBar
    },
    data () {
        return {
            now: new Date(),
            unitsLoaded: false,
            units: []
        }
    },
    created () {
        UnitsApi.GetCurrentUnits()
            .then((units) => {
                this.unitsLoaded = true
                this.units = units
            })
    },
    methods: {
        register (index, unit) {
            UnitsApi.Register(unit.id.route)
                .then(() => {
                    this.units.available.splice(index, 1)
                    this.units.ongoing.unshift(unit)
                    Notifications.notify('Registration successful.', 'success')
                })
                .catch(this.errorCallback)
        },
        unregister (index, unit) {
            UnitsApi.Unregister(unit.id.route)
                .then(() => {
                    this.units.ongoing.splice(index, 1)
                    this.units.available.unshift(unit)
                    Notifications.notify('Unregistration successful.', 'success')
                })
                .catch(this.errorCallback)
        },
        errorCallback (message) {
            Notifications.notify(message, 'error')
        },
        placeCompletion (unit) {
            const from = new Date(unit.duration.from)
            const to = new Date(unit.duration.to)

            if (from > this.now) {
                return 0
            }

            if (this.now > to) {
                return '100%'
            }

            const limit = GetDaysDiff(from, to)
            const completion = GetDaysDiff(from, this.now)

            return `${completion * 100 / limit}%`
        },
        placeRegistration (unit) {
            const limit = GetDaysDiff(new Date(unit.duration.from), new Date(unit.duration.to))
            const completion = GetDaysDiff(new Date(unit.duration.from), new Date(unit.registration))

            return `${completion * 100 / limit}%`
        }
    }
}
</script>

<style>
.units-containers {
    padding: 20px;
    box-sizing: border-box;
}

.units-containers .column {
    padding: 20px;
}

.units-category {
    background-color: #fff;
}

.units-category h3 {
    margin: 0;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-weight: 600;
    font-size: 1.1em;
    text-transform: capitalize;
}

.units-category .units {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 204px);
}

.units-category .no-content {
    padding: 30px;
    color: rgba(0, 0, 0, .6);
}

.units-category .units .unit {
    padding: 30px;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.units-category .units .unit .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.units-category .units .unit .description .unavailable {
    text-decoration: line-through;
}

.units-category .units .unit .description small {
    color: rgba(0, 0, 0, .5);
}

.units-category .units .unit .information {
    margin-top: 15px;
}

.units-category .units .unit .description .success {
    color: #1ABC9C;
}

.units-category .units .unit .description .failure {
    padding-right: 1.5px;
    color: #BC1A1A;
}
</style>
