<template>
    <main>
        <div class="sidebar">
            <div class="unit-information">
                <div v-if="unitLoaded">
                    <div class="title">
                        <h1>{{ unit.title }}</h1>
                        <p><small>{{ unit.credits.available }} credit{{ unit.credits.available !== 1 ? 's' : '' }}</small></p>
                    </div>
                    <div v-if="new Date(unit.dates.duration.from) <= now && new Date(unit.dates.registrationLimit) > now">
                        <a v-if="unit.registered" @click="unregister" class="button">Unregister</a>
                        <a v-else @click="register" class="button">Register</a>
                    </div>
                    <div class="description">
                        <p class="collapsed" v-html="unit.description"></p>
                        <a @click="more">Expand</a>
                    </div>
                </div>
                <div v-else class="loading-container">
                    <loading :class="{ done: unitLoaded }" />
                </div>
            </div>
            <div class="unit-navigation">
                <a href="#activities">Activities</a>
                <a href="#projects">Projects</a>
                <a href="#lessons">Lessons</a>
                <a href="#tutorials">Tutorials</a>
                <a href="#appointments">Appointments</a>
            </div>
        </div>
        <div class="content">
            <aside class="unit-admins">
                <div class="group">
                    <h3>Designers</h3>
                    <div v-if="unitLoaded" class="grid">
                        <div v-for="admin of unit.administrators.designers" class="admin column xs-4">
                            <div class="image">
                                <img v-if="admin.image" :src="admin.image" alt="admin-image" />
                                <img v-else-if="admin.type == 'user'" src="/static/images/user.png" alt="admin-image" />
                                <img v-else-if="admin.type == 'group'" src="/static/images/group.png" alt="admin-image" />
                            </div>
                        </div>
                    </div>
                    <div v-else class="loading-container">
                        <loading :class="{ done: unitLoaded }" />
                    </div>
                </div>
                <div class="group">
                    <h3>Managers</h3>
                    <div v-if="unitLoaded" class="grid">
                        <p v-if="!unit.administrators.managers.length" class="no-content">
                            There are no managers for this unit.
                        </p>
                        <div v-for="admin of unit.administrators.managers" class="admin column xs-4">
                            <div class="image">
                                <img v-if="admin.image" :src="admin.image" alt="admin-image" />
                                <img v-else-if="admin.type == 'user'" src="/static/images/user.png" alt="admin-image" />
                                <img v-else-if="admin.type == 'group'" src="/static/images/group.png" alt="admin-image" />
                            </div>
                        </div>
                    </div>
                    <div v-else class="loading-container">
                        <loading :class="{ done: unitLoaded }" />
                    </div>
                </div>
                <div class="group">
                    <h3>Assistants</h3>
                    <div v-if="unitLoaded" class="grid">
                        <p v-if="!unit.administrators.managers.length" class="no-content">
                            There are no assistants for this unit.
                        </p>
                        <div v-for="admin of unit.administrators.assistants" class="admin column xs-4">
                            <div class="image">
                                <img v-if="admin.image" :src="admin.image" alt="admin-image" />
                                <img v-else-if="admin.type == 'user'" src="/static/images/user.png" alt="admin-image" />
                                <img v-else-if="admin.type == 'group'" src="/static/images/group.png" alt="admin-image" />
                            </div>
                        </div>
                    </div>
                    <div v-else class="loading-container">
                        <loading :class="{ done: unitLoaded }" />
                    </div>
                </div>
            </aside>
            <div class="unit-sections">
                <section></section>
                <section></section>
            </div>
        </div>
    </main>
</template>

<script>
import UnitsApi from '@/assets/api/UnitsApi'

import Notifications from '@/assets/classes/Notifications'

import Loading from '@/components/utilities/Loading'

export default {
    name: 'UnitsEntry',
    components: {
        Loading
    },
    data () {
        return {
            now: new Date(),
            unitLoaded: false,
            unit: {}
        }
    },
    created () {
        UnitsApi.GetUnit(this.$route.params.id)
            .then((unit) => {
                this.unit = unit
                this.unit.description = this.unit.description.replace(/\n/g, '<br />')
                this.unitLoaded = true
            })
    },
    methods: {
        more () {
            const button = document.querySelector('.sidebar .description a')
            const description = document.querySelector('.sidebar .description p')

            if (description.classList.contains('collapsed')) {
                description.classList.toggle('collapsed')
                description.classList.toggle('expanded')
                button.innerHTML = 'Collapse'
            } else {
                description.classList.toggle('collapsed')
                description.classList.toggle('expanded')
                button.innerHTML = 'Expand'
            }
        },
        register () {
            UnitsApi.Register(this.unit.id.route)
                .then(() => {
                    this.unit.registered = true
                    Notifications.notify('Registration successful.', 'success')
                })
                .catch(this.errorCallback)
        },
        unregister () {
            UnitsApi.Unregister(this.unit.id.route)
                .then(() => {
                    this.unit.registered = false
                    Notifications.notify('Unregistration successful.', 'success')
                })
                .catch(this.errorCallback)
        },
        errorCallback (message) {
            Notifications.notify(message, 'error')
        }
    }
}
</script>

<style>
.sidebar {
    width: 100%;
    background-color: #FFF;
}

.sidebar .unit-information {
    text-align: center;
    padding: 20px;
}

.sidebar .unit-information .title {
    margin-bottom: 10px;
}

.sidebar .unit-information .title h1 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.sidebar .unit-information .title small {
    color: rgba(0, 0, 0, .5);
}

.sidebar .unit-information .button {
    margin: 10px 0;
}

.sidebar .unit-information .description {
    margin-top: 10px;
    text-align: left;
}

.sidebar .unit-information .description p {
    overflow: hidden;
    line-height: 1.2em;
    transition: max-height .3s;
}

.sidebar .unit-information .description p.collapsed { max-height:  4.8em; }
.sidebar .unit-information .description p.expanded  { max-height: 20.4em; overflow-y: auto; }

.sidebar .unit-information .description a {
    display: block;
    margin-top: 10px;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
    color: #1997DD;
    border: 2px solid #1997DD;
    border-radius: 2px;
}

.sidebar .unit-information .description a:hover {
    cursor: pointer;
}

.sidebar .unit-navigation a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.sidebar .unit-navigation a:first-child {
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content .unit-admins {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.content .unit-admins .group {
    margin-bottom: 40px;
    background-color: #FFF;
}

.content .unit-admins .group:last-child {
    margin-bottom: 0;
}

.content .unit-admins .group h3 {
    margin: 0;
    padding: 20px 30px;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    font-weight: 600;
    font-size: 1.1em;
    text-transform: capitalize;
}

.content .unit-admins .group .no-content {
    padding: 30px;
    font-size: .9em;
    color: rgba(0, 0, 0, .6);
}

.content .unit-admins .group .admin {
    padding: 20px;
}

.content .unit-admins .group .admin .image {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.content .unit-admins .group .admin .image::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.content .unit-admins .group .admin .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 150%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #E5EEF3;
}

.content .unit-sections {
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .sidebar {
        overflow-y: auto;
        position: fixed;
        top: 60px;
        bottom: 0;
        width: 410px;
    }

    .content {
        margin-left: 410px;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        flex-direction: row;
    }

    .content .unit-admins {
        order: 2;
        width: 340px;
    }

    .content .unit-sections {
        order: 1;
        flex-grow: 1;
    }
}
</style>
