<template>
    <main>
        <div class="grid sized-max">
            <div class="column xs-4"></div>
        </div>
    </main>
</template>

<script>
import UsersApi from '@/assets/api/UsersApi'

export default {
    name: 'Profile',
    data () {
        return {
            user: {
                technical: {},
                profile: {},
                curriculum: {}
            }
        }
    },
    created () {
        UsersApi.GetProfile(this.$route.params.email)
            .then((user) => {
                this.user = user
            })
    },
    methods: {
    }
}
</script>

<style>
</style>
