<template>
    <main>
        <p>Oops, this page doesn't exist.</p>
    </main>
</template>

<script>
export default {
    name: '404',
    data () {
        return {
        }
    },
    created () {
        this.$emit('toggleNavigation')
    },
    methods: {
    }
}
</script>

<style>
</style>
