
a {
    color: #000;
    text-decoration: none;
}

p {
    margin: 0;
}

.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 10px 20px;
    background-color: #1ABC9C;
    color: #FFF;
    font-size: .7em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    border-bottom: 2px solid #116857;
    transition: background-color .3s;
}

.button::after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -35px;
    width: 20px;
    transform: rotate(35deg);
    background-color: rgba(255, 255, 255, .2);
    transition: all .3s;
}

.button:hover {
    background-color: #107B66;
    cursor: pointer;
}

.button:hover::after {
    left: calc(100% + 35px);
}

.notifications {
    position: fixed;
    top: 60px;
    right: 0;
    width: 400px;
}

.notifications .notification {
    opacity: 0;
    display: flex;
    margin: 20px 20px 0 20px;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    transition: opacity .3s;
}

.notifications .notification.active {
    opacity: 1;
}

.notifications .notification .icon {
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.notifications .notification .text {
    padding: 20px;
    font-size: .9em;
}

.notifications .notification.error .icon { background-color: #b94e4e; }
.notifications .notification.error       { background-color: #cc6f6f; }

.notifications .notification.success .icon { background-color: #779f5f; }
.notifications .notification.success       { background-color: #87b36c; }
