<template>
    <header class="nav-header">
        <div :class="{ 'small': !withSidebar }" class="brand">
            <a class="brand-image"></a>
            <a class="toggle-sidebar" @click="toggleSidebar"><i class="fa fa-bars bars"></i></a>
        </div>
        <nav>
            <div class="search">
                <i class="icon fa fa-search"></i>
                <input class="text" type="text" placeholder="Yes, you will be able to search for some things" />
            </div>

            <div class="items">
                <div @click="toggleNotifications" class="icon"><i class="fa fa-bell"></i></div>
                <div class="text">
                    <img :src="user.picture" alt="profile-picture" />
                    <p>{{ user.name }}</p>
                </div>
            </div>
        </nav>
        <div id="nav-notifications" :class="{ active: notificationsDisplayed }">
            <div id="notifications-categories" class="grid sized-max">
                <div class="column xs-4" :class="{ active: activeNotifications == 'alerts' }" @click="fetchAlerts"><i class="fa fa-exclamation-triangle"></i></div>
                <div class="column xs-4" :class="{ active: activeNotifications == 'upcoming' }" @click="fetchUpcoming"><i class="fa fa-calendar-plus-o"></i></div>
                <div class="column xs-4" :class="{ active: activeNotifications == 'messages' }" @click="fetchMessages"><i class="fa fa-envelope"></i></div>
            </div>
            <div id="notifications-content" :class="{ refreshing: !notificationsLoaded }">
                <loading :class="{ done: notificationsLoaded }" />
                <div v-for="notification in notifications" class="notification">
                    <p v-html="notification.content"></p>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import UsersApi from '@/assets/api/UsersApi'

import Loading from '@/components/utilities/Loading'

export default {
    name: 'Header',
    components: {
        Loading
    },
    props: ['withSidebar', 'user'],
    data () {
        return {
            notifications: [],
            notificationsDisplayed: false,
            notificationsLoaded: false,
            activeNotifications: 'alerts'
        }
    },
    methods: {
        toggleSidebar () {
            this.$emit('toggleSidebar')
        },
        toggleNotifications () {
            this.notificationsDisplayed = !this.notificationsDisplayed

            if (this.activeNotifications === 'alerts') {
                this.fetchAlerts()
            } else if (this.activeNotifications === 'upcoming') {
                this.fetchUpcoming()
            } else if (this.activeNotifications === 'messages') {
                this.fetchMessages()
            }
        },
        formatNotifications (notifications) {
            let formatted = []

            for (const notification of notifications) {
                formatted.push({
                    content: notification.title
                })
            }

            return formatted
        },
        resetNotifications () {
            this.notifications = []
            this.notificationsLoaded = false
        },
        fetchAlerts () {
            this.resetNotifications()
            this.activeNotifications = 'alerts'

            UsersApi.GetNotifications('alerts')
                .then((notifications) => {
                    this.notificationsLoaded = true
                    this.notifications = this.formatNotifications(notifications.general)
                    this.notifications.concat(this.formatNotifications(notifications.missed))
                })
        },
        fetchUpcoming () {
            this.resetNotifications()
            this.activeNotifications = 'upcoming'

            UsersApi.GetNotifications('upcoming')
                .then((notifications) => {
                    this.notificationsLoaded = true
                    this.notifications = this.formatNotifications(notifications)
                })
        },
        fetchMessages () {
            this.resetNotifications()
            this.activeNotifications = 'messages'

            UsersApi.GetNotifications('messages')
                .then((notifications) => {
                    this.notificationsLoaded = true
                    this.notifications = this.formatNotifications(notifications)
                })
        }
    }
}
</script>

<style>
.nav-header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #1997dd;
}

.nav-header .brand {
    flex: 0 0 300px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    transition: max-width .3s, min-width .3s, flex-basis .3s;
    background-color: rgba(0, 0, 0, .1);
}

.nav-header .brand.small {
    flex: 0 0 60px;
}

.nav-header .brand .brand-image {
    flex-grow: 1;
}

.nav-header .brand .toggle-sidebar {
    position: relative;
    min-width: 60px;
    color: #fff;
}

.nav-header .brand .toggle-sidebar:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
}

.nav-header .brand .toggle-sidebar .bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.nav-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.nav-header nav .search {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 42.5px;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 2px;
    color: darkgrey;
    background-color: #fff;
    box-shadow: 0 2px 2px 0px #0000004d;
}

.nav-header nav .search .icon {
    display: block;
    width: 42.5px;
    height: 100%;
    position: relative;
}

.nav-header nav .search .icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.nav-header nav .search .text {
    flex-grow: 1;
    padding: 0 10px;
    border: none;
}

.nav-header nav .items {
    display: flex;
    height: 100%;
}

.nav-header nav .items .icon,
.nav-header nav .items .text {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.nav-header nav .items .text img {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
}

.nav-header nav .items .text p {
    white-space: nowrap;
    font-weight: bold;
}

.nav-header nav .items .icon:hover {
    text-shadow: 0 0 5px #000;
    cursor: pointer;
}

.nav-header #nav-notifications {
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.nav-header #nav-notifications.active {
    display: block;
}

.nav-header #nav-notifications #notifications-categories .column {
    padding: 20px 0;
    color: #c0ced7;
    text-align: center;
}

.nav-header #nav-notifications #notifications-categories .column.active {
    border-bottom: 3px solid #000;
    color: #000;
}

.nav-header #nav-notifications #notifications-categories .column:hover {
    color: #000;
    cursor: pointer;
}

.nav-header #nav-notifications #notifications-content {
    position: relative;
    max-height: 300px;
    overflow: auto;
}

.nav-header #nav-notifications #notifications-content.refreshing {
    height: 200px;
}

.nav-header #nav-notifications #notifications-content .notification {
    padding: 10px 20px;
    font-size: .9em;
    border-top: 1px solid rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .4);
}
</style>
