<template>
    <div class="nav-sidebar-tooltip">
        {{ text }}
    </div>
</template>

<script>
export default {
    name: 'SidebarTooltip',
    props: ['text']
}
</script>

<style>
.nav-sidebar-tooltip {
    position: absolute;
    left: 67px;
    padding: 5px 15px;
    font-size: .8em;
    background-color: #2E2F30;
    color: #fff;
    border-radius: 5px;
}

.nav-sidebar-tooltip::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -4px;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    background-color: #2E2F30;
}
</style>
