<template>
    <nav :class="{ 'small': !withSidebar }" class="nav-sidebar">
        <div v-for="section in sections">
            <h4>{{ section.title }}</h4>
            <ul>
                <li v-for="route in section.routes">
                    <a v-if="route.absolute" :href="route.href" target="_blank" @mouseleave="hideTooltip" @mouseover="showTooltip($event, route.text)">
                        <i :class="route.icon" class="fa icon"></i>
                        <span class="text">{{ route.text }}</span>
                    </a>
                    <router-link v-else :to="{ name: route.href, params: route.params }" @mouseleave.native="hideTooltip" @mouseover.native="showTooltip($event, route.text)">
                        <i :class="route.icon" class="fa icon"></i>
                        <span class="text">{{ route.text }}</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
import Vue from 'vue'

import SidebarTooltip from './SidebarTooltip'

const TooltipComponent = Vue.extend(SidebarTooltip)

export default {
    name: 'Sidebar',
    props: ['withSidebar', 'user'],
    data () {
        return {
            tooltip: null,
            sections: [
                {
                    title: 'My schooling',
                    routes: [
                        {
                            absolute: false,
                            params: {},
                            href: 'schedule',
                            text: 'Schedule',
                            icon: 'fa-calendar'
                        },
                        {
                            absolute: false,
                            params: {},
                            href: 'units',
                            text: 'Units',
                            icon: 'fa-tasks'
                        },
                        {
                            absolute: false,
                            params: {},
                            href: 'courses',
                            text: 'Courses',
                            icon: 'fa-graduation-cap'
                        }
                    ]
                },
                {
                    title: 'About me',
                    routes: [
                        {
                            absolute: false,
                            params: { email: this.user.email },
                            href: 'user',
                            text: 'Profile',
                            icon: 'fa-user'
                        },
                        {
                            absolute: false,
                            params: { email: this.user.email },
                            href: 'user.results',
                            text: 'Results',
                            icon: 'fa-bar-chart'
                        },
                        {
                            absolute: false,
                            params: { email: this.user.email },
                            href: 'user.internships',
                            text: 'Internships',
                            icon: 'fa-briefcase'
                        },
                        {
                            absolute: false,
                            params: { email: this.user.email },
                            href: 'user.documents',
                            text: 'Documents',
                            icon: 'fa-file-text'
                        }
                    ]
                },
                {
                    title: 'Resources',
                    routes: [
                        {
                            absolute: true,
                            href: 'https://outlook.com/epitech.eu/',
                            text: 'Office 365',
                            icon: 'fa-globe'
                        },
                        {
                            absolute: true,
                            href: 'https://console.bocal.org/',
                            text: 'Console bocal',
                            icon: 'fa-globe'
                        },
                        {
                            absolute: true,
                            href: 'https://eip.epitech.eu/',
                            text: 'Intranet EIP',
                            icon: 'fa-globe'
                        },
                        {
                            absolute: true,
                            href: 'https://tekfeed.epitech.eu/',
                            text: 'TekFeed',
                            icon: 'fa-globe'
                        },
                        {
                            absolute: true,
                            href: 'https://international-relations.epitech.eu/',
                            text: 'Relations internationales',
                            icon: 'fa-globe'
                        }
                    ]
                },
                {
                    title: 'Control panel',
                    routes: [
                        {
                            absolute: false,
                            params: {},
                            href: 'account.settings',
                            text: 'Settings',
                            icon: 'fa-cogs'
                        },
                        {
                            absolute: false,
                            params: {},
                            href: 'account.logout',
                            text: 'Logout',
                            icon: 'fa-power-off'
                        }
                    ]
                }
            ]
        }
    },
    methods: {
        showTooltip (e, text) {
            if (this.withSidebar) {
                return
            }

            const app = document.querySelector('#app')
            const offset = e.target.getBoundingClientRect()

            if (this.tooltip) {
                this.hideTooltip()
            }

            this.tooltip = new TooltipComponent({ propsData: { text } }).$mount()
            this.tooltip.$el.style.top = `${offset.top + 17}px`
            app.appendChild(this.tooltip.$el)
        },
        hideTooltip () {
            if (this.withSidebar) {
                return
            }

            const app = document.querySelector('#app')

            app.removeChild(document.querySelector('.nav-sidebar-tooltip'))
            this.tooltip = null
        }
    }
}
</script>

<style>
/* Normal                                                             Sidebar
   ========================================================================== */

.nav-sidebar {
    position: fixed;
    z-index: 1;
    top: 60px;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: max-width .3s;
    background-color: #002032;
    white-space: nowrap;
}

.nav-sidebar > div:last-child {
    margin-bottom: 30px;
}

.nav-sidebar h4 {
    margin: 0;
    padding: 30px 30px 10px 30px;
    text-transform: uppercase;
    color: #cdd2d5;
}

.nav-sidebar ul {
    margin: 0;
    padding: 0 30px;
}

.nav-sidebar li {
    margin-top: 10px;
    list-style-type: none;
}

.nav-sidebar li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #7e8e98;
    text-decoration: none;
}

.nav-sidebar li a:hover {
    color: #fff;
}

.nav-sidebar li a .icon {
    display: block;
    min-width: 30px;
}

.nav-sidebar li a .text {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Reduced                                                            Sidebar
   ========================================================================== */

.nav-sidebar.small {
    max-width: 60px;
    box-shadow: inset 0px 10px 10px -10px #000;
}

.nav-sidebar.small > div:last-child {
    margin-bottom: 0;
}

.nav-sidebar.small > div:last-child ul {
    border-bottom: none;
}

.nav-sidebar.small h4,
.nav-sidebar.small li a .text {
    display: none;
}

.nav-sidebar.small ul {
    padding: 0;
    border-bottom: 1px solid #1a2f3b;
}

.nav-sidebar.small li {
    margin-top: 0;
}

.nav-sidebar.small li a:hover {
    background-color: rgba(255, 255, 255, .1);
}

.nav-sidebar.small li a .icon {
    position: relative;
    width: 60px;
    height: 60px;
}

.nav-sidebar.small li a .icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
</style>
