<template>
    <div id="app">
        <nav-header  v-if="withNav" :withSidebar="withSidebar" :user="user" @toggleSidebar="toggleSidebar" />
        <nav-sidebar v-if="withNav" :withSidebar="withSidebar" :user="user" />

        <router-view :class="{ 'with-nav': withNav, 'with-sidebar': withNav && withSidebar }"
            @updateNavigation="updateNavigation"
            @enableNavigation="enableNavigation"
            @disableNavigation="disableNavigation" />
    </div>
</template>

<script>
import Header from '@/components/navigation/Header'
import Sidebar from '@/components/navigation/Sidebar'

import UsersApi from '@/assets/api/UsersApi'

import { GetTokenPayload } from '@/assets/utilities/authentication'

export default {
    name: 'app',
    components: {
        'nav-header': Header,
        'nav-sidebar': Sidebar
    },
    data () {
        return {
            withNav: true,
            withSidebar: true,
            user: {}
        }
    },
    created () {
        this.updateNavigation()
    },
    methods: {
        updateNavigation () {
            const payload = GetTokenPayload()

            if (payload) {
                this.user = payload

                UsersApi.GetProfile(this.user.email)
                    .then((user) => {
                        this.$set(this.user, 'name', `${user.profile.firstName} ${user.profile.lastName}`)
                        this.$set(this.user, 'picture', user.profile.picture)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            } else {
                this.user = {
                    email: 'waiting'
                }
            }
        },
        enableNavigation () {
            this.withNav = true
        },
        disableNavigation () {
            this.withNav = false
        },
        toggleSidebar () {
            this.withSidebar = !this.withSidebar
        }
    }
}
</script>

<style>
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    background-color: #e5eef3;
}

html,
body,
main,
#app {
    height: 100%;
}

main {
    position: relative;
    box-sizing: border-box;
    transition: margin-left .3s;
}

main.with-nav {
    height: 100%;
    padding-top: 60px;
    margin-left: 60px;
}

main.with-sidebar {
    margin-left: 300px;
}
</style>
