<template>
    <div class="loading position-middle">
        <span class="style"></span>
        <p class="text">{{ messages.text }}</p>
        <p class="error" v-if="messages.comments">
            <span class="primary">{{ messages.comments.primary }}</span><br />
            <span class="secondary">{{ messages.comments.secondary }}</span>
        </p>
    </div>
</template>

<script>
export default {
    name: 'Loading',
    props: {
        messages: {
            type: Object,
            default () {
                return {
                    text: 'Loading',
                    comments: false
                }
            }
        }
    }
}
</script>

<style>
@keyframes spin { 100% { transform: rotate(359deg); } }

.loading-container {
    position: relative;
    min-height: 150px;
}

.loading.done {
    display: none;
}

.loading .style {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 5px solid;
    border-color: #c0ced7 transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
}

.loading .text {
    position: absolute;
    top: 48px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
    color: #595c5f;
}

.loading .error {
    margin-top: 20px;
    text-align: center;
    color: #595c5f;
}
</style>
