<template>
    <div class="progress-bar">
        <slot name="milestones"></slot>
        <div class="completion">
            <slot name="completion"></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProgressBar'
}
</script>

<style>
.progress-bar {
    height: 25px;
}

.progress-bar .milestones {
    position: relative;
    width: 100%;
    height: 100%;
}

.progress-bar .milestones > div {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: box-shadow .3s;
}

.progress-bar .milestones > div:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.progress-bar .milestones > div:first-child { left:  -5px; }
.progress-bar .milestones > div:last-child  { right: -5px; }

.progress-bar .milestones > div .title {
    display: none;
    position: absolute;
    top: 25px;
    left: 50%;
    padding: 7px;
    transform: translateX(-50%);
    font-size: .7em;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
}

.progress-bar .milestones > div:first-child .title {
    left: -5px;
    transform: none;
}

.progress-bar .milestones > div:last-child .title {
    left: auto;
    right: -5px;
    transform: none;
}

.progress-bar .milestones > div:hover .title {
    display: block;
}

.progress-bar .completion {
    height: 3px;
    margin-top: -14px;
}

.progress-bar .completion > div {
    height: 100%;
}

.progress-bar .milestones > div,
.progress-bar .completion {
    background-color: #DEDEDE;
}

.progress-bar .milestones > div.reached,
.progress-bar .completion > div {
    background-color: #3498db;
}
</style>
